.svgColor {
  background-image: linear-gradient(to right, #1dd1a1, #1abc9c);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
